@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;300;400;500;600;700;800;900&display=swap');

:root {
    --primary-background:black;
    --text-primary-color: white;
    --template-font: 'Work Sans', sans-serif;
    --nav-toggle-illuminnated: #444444;
    --off-screen-background-color: #22b4ab;
    --button-text-color:rgb(39, 204, 192);
    --button-border-color: rgba(39, 204, 192, 0.75);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body {
    overflow-x: hidden;
}

/* custom classes */
.template-font-style,
.letter-spacing,
.dark-background {
    font-family: var(--template-font);
    letter-spacing: 1px;
    background: black;
}

.underline {
    background-color: var(--off-screen-background-color);
    height: 10px;
}
/* end custom classes */

/* navbar Style */
.template-logo {
    max-height: 45px;
}

.navbar {
    background-color: rgba(0, 0, 0, 0.1);
    height: 130px;
    transition: height cubic-bezier(0.075, 0.82, 0.165, 1) 0.6s;
}

.navbar.illuminated-nav {
    background-color: white;
    height: 80px;
    border-bottom: 2px solid #eee;
}

.navbar.illuminated-nav .ham-bar {
    background-color: var(--nav-toggle-illuminnated);
    opacity: 0.5;
}
/* end navbar */

/* template banner Style */
.template-banner {
    background-color: var(--primary-background);
    height: 100vh;
    position: relative;
}

.banner-background-img img {
    height: 100vh;
}

.banner-title mark {
    background-image: linear-gradient(to right,#27ccc0 0,#27ccc0 100%);
}

.template-banner-content {
    margin-top: 130px;
}

.read-btn {
    color: var(--button-text-color);
    max-width: 221px;
    height: 42px;
    border: 2px solid var(--button-border-color);
    transition: all ease .5s;
}

.read-btn span {
    transform: translateX(0);
    transition: opacity .45s cubic-bezier(.25,1,.33,1),transform .45s cubic-bezier(.25,1,.33,1);
}

.read-btn i {
    opacity: 0;
}

.read-btn:hover {
    color: var(--text-primary-color);
    background-color: var(--off-screen-background-color);
    opacity: 1!important;
}

.read-btn:hover i {
    opacity: 1!important;
}

.read-btn:hover span {
    transform: translateX(-8px);
}

/* hamburger menu icon */
#hamburger-menu {
    height: 35px;
    width: 35px;
    position: relative;
    cursor: pointer;
}

.ham-bar {
    width: 100%;
    height: 4px;
    background-color: white;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform .6s, opacity .8s, top .6s;
}

.bar-top {
    top: 25%;
}

.bar-bottom {
    top: 75%;
}

#hamburger-menu.active .bar-top {
    transform: translate(-50%, -50%) rotate(-315deg);
    top: 50%;
}

#hamburger-menu.active .bar-mid {
    opacity: 0;
}

#hamburger-menu.active .bar-bottom {
    transform: translate(-50%, -50%) rotate(-225deg);
    top: 50%;
}

/* vertical tabs implementation */
#v-pills-tab {
    border-left: 1px solid rgba(211, 211, 211, 0.313);
}

#v-pills-tab a {
    color: gray;
    cursor: pointer;
    border-left: 2px solid transparent;
}

#v-pills-tab a:nth-child(4) {
    margin-bottom: 0!important;
}

#v-pills-tab a span {
    padding-left: 55px;
}

#v-pills-tab a:hover {
    color: white;
}

#v-pills-tab .nav-link {
    border-left: 2px solid transparent;
    transition: all 0.7s;
}

#v-pills-tab .nav-link.active {
    border-left-color: var(--button-border-color);
    color: white;
}
/* end style */

/* media queries */
@media screen and (max-width: 767px) { 
  
}