@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

:root {
    --dark-color: black;
    --light-color: white;
    --light-gray-color: rgb(85, 85, 85);
    --template-font: 'Work Sans', sans-serif;
    --permanent-marker-font: 'Permanent Marker', cursive;
    --nav-toggle-illuminnated: #444444;
    --off-screen-background-color: #22b4ab;
    --button-text-color: rgb(39, 204, 192);
    --button-border-color: rgba(39, 204, 192, 0.75);
    --gradient-color: linear-gradient(to top, #0dc7ba 0, #27ccc0 100%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    overflow-x: hidden;
    font-family: var(--template-font);
    scroll-behavior: smooth;
}

/* custom classes */
.template-font-style,
.letter-spacing,
.dark-background {
    letter-spacing: 1px;
    background: var(--dark-color);
}

.underline {
    background-color: var(--off-screen-background-color);
    height: 10px;
}

/* navbar Style */
.template-logo {
    max-height: 45px;
}

.navbar {
    height: 130px;
    z-index: 99;
    transition: height cubic-bezier(0.075, 0.82, 0.165, 1) 0.6s;
}

.navbar.illuminated-nav {
    background-color: var(--light-color);
    height: 80px;
    border-bottom: 2px solid #eee;
}

.navbar.illuminated-nav .ham-bar {
    background-color: var(--nav-toggle-illuminnated);
    opacity: 0.5;
}

/* template banner Style */
.template-banner {
    background-color: var(--dark-color);
    height: 100vh;
    position: relative;
}

.banner-background-img img {
    height: 100vh;
}

.banner-title mark {
    background-image: var(--gradient-color);
}

.template-banner-content {
    margin-top: 130px;
}

.read-btn {
    color: var(--button-text-color);
    max-width: 221px;
    height: 42px;
    border: 2px solid var(--button-border-color);
    transition: all ease .5s;
}

.read-btn span {
    transform: translateX(0);
    transition: opacity .45s cubic-bezier(.25, 1, .33, 1), transform .45s cubic-bezier(.25, 1, .33, 1);
}

.read-btn i {
    opacity: 0;
}

.read-btn:hover {
    color: var(--light-color);
    background-color: var(--off-screen-background-color);
    opacity: 1 !important;
}

.read-btn:hover i {
    opacity: 1 !important;
}

.read-btn:hover span {
    transform: translateX(-8px);
}

/* hamburger menu icon */
.hambars-menu {
    height: 35px;
    width: 35px;
    position: relative;
    cursor: pointer;
}

.ham-bar {
    width: 100%;
    height: 4px;
    background-color: var(--light-color);
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform .6s, opacity .8s, top .6s;
}

.bar-top {
    top: 25%;
}

.bar-bottom {
    top: 75%;
}

.hambars-menu.active .bar-top {
    transform: translate(-50%, -50%) rotate(-315deg);
    top: 50%;
}

.hambars-menu.active .bar-mid {
    opacity: 0;
}

.hambars-menu.active .bar-bottom {
    transform: translate(-50%, -50%) rotate(-225deg);
    top: 50%;
}

/* about */
.template-about {
    padding: 100px 0;
}

/* vertical tabs implementation */
.tabs-section {
    padding: 100px 0;
}

.tabs {
    float: left;
    width: 30%;
    border-left: 1px solid var(--light-gray-color);
    list-style-type: none;
}

.tabs li {
    margin-bottom: 10px;
}

#vertical_tab_nav li a {
    display: block;
    color: var(--light-gray-color);
    padding: 10px;
    padding-left: 30px;
    border-left: 3px solid transparent;
}

#vertical_tab_nav li a.selected {
    border-left: 3px solid var(--button-border-color);
    color: var(--light-color);
}

.tab_container {
    width: 80%;
}

#vertical_tab_nav div article {
    display: none;
    margin: 0px;
    color: var(--light-color);
    padding: 10px 3% 3% 3%;
}

#vertical_tab_nav div article p {
    margin: 0px 0px 20px 0px;
}

/* client style */
.client-section {
    padding: 100px 0;
}
.client-img img {
    max-width: 150px;
    transition: all 0.2s;
}

.client-img img:hover {
    transform: scale(1.1);
}

/* awards style */
.awards {
    padding: 100px 0;
}
.double-quotes {
    font-size: 110px;
    color: var(--button-text-color);
}

.award-auther {
    font-family: var(--permanent-marker-font);
}

/* contact info style */
.contact-info {
    padding: 100px 0;
}

.contact-form .form-group input,
.contact-form .form-group textarea {
    height: 50px;
}

.contact-form .btn-submit {
    min-width: 300px;
    height: 60px;
    border-radius: 0;
    background-color: var(--button-border-color);
    border: 1px solid var(--dark-color);
    font-weight: 900;
    color: var(--dark-color);
    font-size: 22px;
    transition: 0.1s all;
}

.contact-form .btn-submit:hover {
    background-color: var(--dark-color);
    color: var(--button-text-color);
}

.contact-form .form-group textarea {
    height: 150px
}

/* off screen menu style */
.off-screen {
    top: 90px;
    right: 5%;
    width: 200px;
    z-index: 100;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s;
}

.off-screen.active {
    max-height: 400px;
}

.list-group .list-group-item:hover {
    background-color: var(--off-screen-background-color);
}

/* media queried */
@media screen and (max-width: 781px) {
    .tab_container {
        display: block;
        margin: 0 auto;
        width: 95%;
        box-shadow: 0px 0px 10px var(--dark-color);
    }

    .template-about {
        padding: 30px 0;
    }

    .tabs-section {
        padding: 30px 0;
    }

    .client-section {
        padding: 30px 5px;
    }

    .awards {
        padding: 30px 0;
    }

    .contact-info {
        padding: 30px 5px;
    }
}

.tabs {
    display: none;
}

/* style accordion links */
.tab_drawer_heading {
    margin-bottom: 2px;
    font-size: 14pt;
    color: var(--light-color);
    text-decoration: none;
    padding: 3%;
    background: var(--gradient-color);
}

@media screen and (min-width: 480px) {
    .tab_container {
        float: left;
        /* padding: 10px 3% 3% 3%; */
        border-radius: 0 10px 10px 0;
        width: 64%;
    }

    .tabs {
        display: block;
    }

    .tab_drawer_heading {
        display: none;
    }
}